<form class="" action="/login" method="post">
  Username : <input type="text" name="username">
  Password : <input type="password" name="password">
  <button name="button" type="submit">Login</button>
</form>