<form class="" action="/register" method="post">
  Username : <input name="username" type="text">
  Password : <input name="password" type="passwordd">
  <button type="submit">REgister Account</button>
</form>